@mixin resetList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-reset {

  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  outline: none;
  text-align: inherit;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}


