#Stars {
  color: gold;
  bottom: 5px;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  svg {
    fill: gold;
    width: 13px;
    height: 13px;
  }
  .editing {
    svg {
      width: 25px;
      height: 25px;
    }
  }
}